<!DOCTYPE html>
	<head>
		<title>About!</title>
		<link rel="stylesheet" type="text/css" href="PersWebs(About).css">
	</head>
		<body>
			<marquee><h2> About </h2></marquee>
		<div id="wrapper">
			Special thanks to:

			<a href="http://www.alightyear.com"><button>alightyear.com</button></a> for the inspiration, <br>
			My father for design support,<br>
			Google and Wikipedia for information about planets, comets, and galaxies,<br>
			<a href="http://www.colorpicker.com"><button>colorpicker.com</button></a> For hexadecimal color codes,<br>
			<a href="http://www.lipsum.com"><button>Lorem Ipsum</button></a> for quality paragraphs:

			<div>Etiam metus dui, aliquam sed libero sit amet, bibendum efficitur nisi. Phasellus eleifend diam dapibus, semper turpis ut, ullamcorper felis. Nam porttitor ligula in magna pulvinar, tempor blandit neque molestie. Proin vestibulum sollicitudin massa, dignissim rutrum felis. Nulla nec laoreet tortor. Vestibulum sed massa dui. Sed at aliquet nisi. Proin scelerisque turpis tincidunt ante faucibus elementum.</div>

			<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sem ante. Suspendisse dictum ultrices sodales. Integer tortor eros, molestie vel vulputate vitae, facilisis lobortis leo. Donec iaculis imperdiet tellus, nec molestie leo pharetra ac. Nam in ultrices lacus, ac ultricies augue. In quis nibh tincidunt, accumsan ante quis, luctus dolor. Donec iaculis lacinia turpis, sit amet iaculis erat efficitur vitae. Ut sollicitudin tincidunt erat ac varius. Sed fermentum purus nec magna sagittis iaculis. Maecenas nec est ac enim tincidunt pellentesque. Maecenas lorem risus, vulputate eget laoreet non, venenatis vitae leo. Sed ut fringilla dui.</div>

			<div>Vivamus at nunc consequat, hendrerit justo eu, eleifend nisl. Suspendisse eget ultricies quam. Sed vitae hendrerit nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent feugiat iaculis risus non euismod. Fusce commodo, ex in porttitor eleifend, sapien libero posuere nunc, id semper augue ex consequat ligula. Fusce dui ligula, ullamcorper sit amet ante a, malesuada efficitur dui. Duis tristique tempor ex, et finibus justo varius vel. Quisque eget tellus sed ante faucibus congue. Etiam vel iaculis lectus, nec tempor quam. Maecenas tincidunt tortor at lorem tempus interdum. Nullam sit amet molestie quam, eget lacinia lorem. In in nunc est.Quisque feugiat mi ut posuere bibendum.</div><br><br><br>
			<audio controls autoplay>
						<source src="Music/02-breathing_the_pulse.mp3" type="audio/mpeg">
							Your browser does not support the audio player.
			</audio>
		</body>