 <!-- Identify classes with "." and id's with "#" (This will be on every project from now on...)-->
<!DOCTYPE html>
	<head>
		<title> alightyear.com! (Remake)</title>
		<link rel="stylesheet" type="text/css" href="PersWebs.css">
	</head>
		<body>
			<div class="sidebar-left">
				Follow me on FB!<br>
					<a href="https://www.facebook.com/13kalind"><img src="http://www.alhambralibrary.org/teens/Images/677166248.png"></a>
			</div> <div class="sidebar-right"> Follow me on Twitter!
				<a href="https://www.twitter.com/13kalind"><img src="http://www.aninvitationtolove.com/images/twitter_logo_60x60.png"></a>
			</div>
			<div class="wrapper"> Welcome to a remake of alightyear.com! Here's the <a id="original" href="http://www.alightyear.com">original inspiration</a> for this website. <br><br><br><br><br>
				<div class="Primer">

					A light year is: 9,460,730,472,580,800m, <br>
					5,878,625,373,183.6 miles, <br>
					63,241.1 AU, <br>
					0.31 parsecs, <br>
					31,557,600 light seconds, <br>
					or, the distance light can travel in one year. <br>
					Light travels at 299,792,458m/s (670,616,629mi/s). Sounds like a lot, right? Not...quite...<br>
					Even though light travels so far in so little time, even distant galaxies like the Andromeda Galaxy would take 2.3M years for <strong> LIGHT </strong> to travel. The following is a calendar showing the journey and diary of light as it travels. (Don't scroll too fast, now!)<br><br><br><br><br>
			</div> <div id="Main-Content">
			Light: Starting off <strong> strong </strong>, here we go! Bye Sun!<br>
			<h2> Day 1 </h2>
			<h3> 00:03 </h3>
			<h4> Mercury </h4>
			Hey, Mercury! Looking gray (and boring) as usual...
			<h3> 00:06 </h3>
			<h4> Venus </h4>
			Ah, Venus. Third smallest in this system. Lookin' great, Venus!
			<h3> 00:08 </h3>
			<h4> Earth </h4>
			The Blue Planet! Still one of the only planets with water on it. Kind of sad that no one's found another one very close to support life...	Hey, they all look like ants from up here!
			<h3> 00:13 </h3>
			<h4> Mars </h4>
			Twin of Earth, 2/3 its size. God of War in ancient Rome.
			<h3> 00:23 </h3>
			<h4> Ceres </h4>
			The smallest planet in this system! Wow, I can barely see it...
			<h3> 00:43 </h3>
			<h4> Jupiter </h4>
			WHOA! Good thing I'm barely affected by gravity! That's what Humans call The Gas Giant, eh? Well it's definitely fitting into both categories...
			<h3> 01:19 </h3>
			<h4> Saturn </h4>
			Second largest planet in this system, and also a gas giant. <div class="HiddenFunFact"> Fun fact: If there was a body of water large enough to hold Saturn, it would float! Saturn's density is < 1.00g/cm cubed. </div>
			<h3> 02:40 </h3>
			<h4> Uranus </h4>
			Ah, an <strong> ice giant! </strong> Brrr, I bet it would be cold to just even think about it. 
			<h3> 04:10 </h3>
			<h4> Neptune </h4>
			Hey, it's Neptune! The last planet in this system and also the most dense of the gas giants. <div class="HiddenFunFact">Neptune has storms swirling all around it, all the time.</div>
			<h2> Day 6 </h2>
			<h3> 13:45 </h3>
			<h4> SQ372 </h4>
			Ooooh, a comet. It's quite pretty... <div class="HiddenFunFact"> Comets are mostly made up of <strong> frozen gasses </strong> and water ice.</div>
			<h2> Day 18 </h2>
			<h3> 07:51 </h3>
			<h4> Enter Hills Cloud </h4>
			Looks like I'm inside the Oort Cloud, or more specifically, the Hills Cloud. Nothing too special here, it's just a cloud of small planetesimals.
			<h3>Time Warp!</h3>
				<ul id="Time-Warp">
					<li>.</li>
					<li>.</li>
					<li>.</li>
				</ul>
			<h2> Day 50 </h2>
			The big 5-Oh. Nothing interesting to pass by here...Getting bored... .
			<h3> Time Warp!</h3>
				<ul id="Time-Warp">
					<li>.</li>
					<li>.</li>
					<li>.</li>	
				</ul>
			<h2> Day 116 </h2>
			<h3> 12:19 </h3>
			<h4> Exit Hills Cloud </h4>
			Bye, Hills Cloud...Nice seeing you...I guess. I hope something more interesting pops up later on.
			<h3> Time Warp! </h3>
				<ul id="Time-Warp">
					<li>.</li>
					<li>.</li>
					<li>.</li>
				</ul>
			<h2> Day 250 </h2>
			Day 250...It seems like the world's been standing still for the past 200 days. I almost feel like I'm not moving at all... .
			<h2> Day 290 </h2>
			<h3> Enter Outer Oort Cloud </h3>
			<h4> 18:48 </h4>
			Woosh...there goes the border between Hills Cloud and Outer Oort. I wonder if there's anything else after this... .
			<h3> Time Warp! </h3>
				<ul id="Time-Warp">
					<li>.</li>
					<li>.</li>
					<li>.</li>
				</ul>
			<h2> Day 365 </h2>
			<h3> 06:00 </h3>
			<h4> End of Julian Year 1 </h4>
			Happy Anniversary! It sure was an...<i>interesting</i>...year...<br><br><br><br><br>

			Our light particle has now travelled for a Julian year (365.25 days) and is not even close to reaching the nearest star. The Crab supernova remnant is about 4,000 years away; the Milky Way Galaxy would take 150,000 years to cross; the Andromeda Galaxy is 2.3 million light-years away. Light will have to travel for another 28 billion years to reach the edge of the visible universe. Thought light was fast? Traveling at the speed of light would look like you were standing perfectly still (minus the blur and blinding from the light being red-shifted) Even the fastest obtainable speed in the entire universe is still painstakingly slow to cross the universe.
			</div> 
				More here!          
					<a href="PersWebs(About).html"><button> About </button></a>
					<a href="PersWebs(Related).html"><button> Related </button></a><br><br><br>
					<audio controls autoplay>
						<source src="Music/01-trip_the_light.mp3" type="audio/mpeg">
							Your browser does not support the audio player.
					</audio>
		</body>
