<!DOCTYPE html>
	<head>
		<title> Related </title>
		<link rel="stylesheet" type="text/css" href="PersWebs(Related).css">
	</head>
		<body>
			<div class="wrapper">
				<div id="solar-left">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSCtHUSC2nSWeTFNi0qZyHDqI3aUnXq1ejqbcOVCKdDK1K9hBVM6A">
					<h2> Our Sun </h2>
						<p> Ever since the Big Bang, our Sun has been hot. So hot, in fact, that it's 5778K (5504.85C or 9940.73F), which is <strong>55x</strong> the energy required to boil water. The sun works off of nuclear fusion through a series of steps called the proton-proton (P-P) chain, which converts hydrogen (H) into helium (He). This process occurs about 9.2 * 10<sup>37</sup> times each <strong>second</strong> in the core of the Sun. Because this reaction uses four free protons (hydrogen nuclei), it converts about 3.7 * 10<sup>38</sup> protons to alpha particles (helium nuclei) every second (out of a total of ~8.9 * 10<sup>56</sup> free protons in the Sun), or about 6.2 * 10<sup>11</sup> kg per second. Because fusing hydrogen into helium releases around 0.7% of the fused mass as energy, the Sun releases energy at the mass-energy conversion rate of 4.26 million metric tons per second, 384.6 yotta watts (3.846 * 1026 W), or 9.192 * 10<sup>10</sup> megatons of TNT per second. The power production by fusion in the core varies with distance from the solar center. At the center of the Sun, theoretical models estimate it to be approximately 276.5 watts/m<sup>3</sup>, a power production density that more nearly approximates reptile metabolism than a thermonuclear bomb. Peak power production in the Sun has been compared to the volumetric heats generated in an active compost heap. The tremendous power output of the Sun is not due to its high power per volume, but instead due to its large size. The fusion rate in the core is in a self-correcting equilibrium: a slightly higher rate of fusion would cause the core to heat up more and expand slightly against the weight of the outer layers, reducing the fusion rate and correcting the perturbation; and a slightly lower rate would cause the core to cool and shrink slightly, increasing the fusion rate and again reverting it to its present level.The gamma rays (high-energy photons) released in fusion reactions are absorbed in only a few millimeters of solar plasma and then re-emitted again in a random direction and at slightly lower energy. Therefore it takes a long time for radiation to reach the Sun's surface. Estimates of the photon travel time range between 10,000 and 170,000 years. In contrast, it takes only 2.3 seconds for the neutrinos, which account for about 2% of the total energy production of the Sun, to reach the surface. Because energy transport in the Sun is a process that involves photons in thermodynamic equilibrium with matter, the time scale of energy transport in the Sun is longer, on the order of 30,000,000 years. This is the time it would take the Sun to return to a stable state if the rate of energy generation in its core were suddenly to be changed.<br><br><br>
							<audio controls autoplay>
								<source src="Music/05-realm_of_refraction.mp3" type="audio/mpeg">
									Your browser does not support the audio player.
							</audio>
					</p>
				</div>
			</div>